<html>
    <head>
        <meta charset="utf-8" />
        <title>index</title>
    </head>
    <body>
        <h1><%= user_id %></h1>
        <a href="/qrock/register">단말기 등록</a>
        <a href="/qrock/list">단말기 목록</a>
    </body>
</html>