<html>
    <head>
        <meta charset="utf-8">
        <title>qrock register</title>
    </head>
    <body>

        <div class="wrap">
            
            <form action="/qrock/register" method="POST">
                <table>
                    <tr>
                        <td>단말기 아이디</td>
                        <td><input type="text" name="qrock_id" /></td>
                    </tr>
                    <tr>
                        <td>단말기 이름</td>
                        <td><input type="text" name="qrock_name" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="register" /></td>
                    </tr>
                </table>
            </form>

        </div>

    </body>
</html>